.app {
  background-color: rgb(246, 246, 246);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: 5px solid black;
}
.navegacion {
  width: 100%;
  background-color: rgb(175, 175, 175);
  height: 10vh;
  border: 2px solid black;
  padding: 0%;
}
.centrar-fecha-hora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh; /* Ajusta la altura del <li> al 100% del padre (por ejemplo, la barra de navegación) */
}
.centrar {
  display: flex; /* Enable Flexbox layout */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
}
.ajustar-al-final {
  display: flex; /* Enable Flexbox layout */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  width: 100%;
  padding: 0%;
}
.boton-home {
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}
.boton-home:hover {
  background-color: rgb(222, 222, 222);
}
.boton {
  width: 40vh;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}
.boton:hover {
  background-color: rgb(222, 222, 222);
}
.navbar-toggler:hover {
  background-color: rgb(222, 222, 222);
}
.icono {
  height: 6vh;
  width: 6vh;
}

.main-content {
  margin-top: 10vh; /* Set the top margin to 10vh */
}
