<div class="centrar-pantalla">
  <div class="div-centrado">
    <div class="row justify-content-center align-items-center">
      <h1 class="titulo">AGREGAR NOTA</h1>
      <div class="col-12 centrar-form">
        <form
          #noteForm="ngForm"
          (ngSubmit)="onSubmit()"
          novalidate
          class="form-group"
        >
          <div class="form-group">
            <label for="title" class="form-label">Titulo</label>
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="Titulo de la Nota"
              [(ngModel)]="form.title"
              required
              minlength="3"
              maxlength="30"
              #titleInput="ngModel"
              [ngClass]="{ 'is-invalid': submitted && titleInput.errors }"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && titleInput.errors"
            >
              <ul>
                <li *ngIf="titleInput.errors['required']">
                  Por favor ingresa un titulo
                </li>
                <li *ngIf="titleInput.errors['minlength']">
                  El titulo debe tener al menos 3 caracteres
                </li>
                <li *ngIf="titleInput.errors['maxlength']">
                  El titulo debe contener como maximo 30 caracteres
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label for="content" class="form-label">Descripción</label>
            <textarea
              class="form-control"
              name="content"
              placeholder="Descripción de la Nota"
              [(ngModel)]="form.content"
              rows="10"
              cols="100"
              #contentInput="ngModel"
              [ngClass]="{ 'is-invalid': submitted && contentInput.errors }"
            ></textarea>
            <div
              class="invalid-feedback"
              *ngIf="submitted && contentInput.errors"
            >
              <li *ngIf="contentInput.errors['required']">
                Por favor ingresa una descripción
              </li>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12">
        <div class="row justify-content-center align-items-center">
          <div class="col-6 align-self-start izquierda">
            <a
              matTooltip="BOTON PARA REGRESAR A LISTA DE NOTAS"
              [matTooltipPosition]="'after'"
              class="boton-cancelar nav-link"
              (click)="Cancelar()"
            >
              <img
                src="../../../../assets/notes/Cancelar.png"
                alt="Logo"
                class="imagen_boton"
              />
              Cancelar
            </a>
          </div>
          <div class="col-6 align-self-end derecha">
            <a
              matTooltip="BOTON PARA AGREGAR NUEVA NOTA"
              [matTooltipPosition]="'before'"
              class="boton-aceptar nav-link"
              (click)="onSubmit()"
            >
              <img
                src="../../../../assets/notes/Aceptar.png"
                alt="Logo"
                class="imagen_boton"
              />
              Aceptar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
