.centrar-pantalla {
  height: 90vh;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-container {
  width: 600px;
  margin: auto; /* Margen automático para centrar */
  padding: 5vh;
  border: 3px solid #000000; /* Borde para visualización */
  border-radius: 20px; /* Bordes redondeados */
  background-color: white;
}

.form-group {
  margin-bottom: 30px;
}
.form-label {
  color: rgb(0, 0, 0);
}

.btn-signup {
  background-color: rgba(23, 169, 1, 0.25);
  border: 3px solid rgb(0, 159, 26);
  color: rgb(0, 103, 23);
}
.btn-signup:active {
  background-color: rgba(23, 169, 1);
  border: 3px solid rgb(0, 159, 26);
  color: rgb(0, 103, 23);
}
.Contraseña {
  display: flex;
  width: 100%;
  flex-direction: column;
  // border: 1px solid black;
}
.ContraInput {
  display: flex;
  // border: 1px solid black;
  width: 100%;
}
