<div class="row align-items-center">
  <div class="col-4 d-flex justify-content-start">
    <h2>TAREAS CALENDARIO</h2>
  </div>
  <!-- BUSCADOR -->
  <div class="col-4 d-flex justify-content-center"></div>
  <!-- BOTON IR A CALENDARIO -->
  <div class="col-4 d-flex justify-content-end contenedor-boton-calendario">
    <a
      matTooltip="BOTON PARA IR A LA VISTA DE EISENHOWER DE TAREAS"
      [matTooltipPosition]="'before'"
      class="Boton-Heisenhower nav-link"
      (click)="onEisenhowerClick()"
      >Ir a Eisenhower&nbsp;&nbsp;<img
        src="../../../../assets/tasks/Icono Eisenhower.png"
        alt="Logo"
        class="imagen_Heisenhower"
    /></a>
  </div>
</div>

<div class="row">
  <div class="col-11 contenedor-calendario">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <!-- TAREAS DEL DIA -->
          <div class="col-12 tareas-del-dia">
            <h3 class="tarea_calendario">Tareas del Día Seleccionado</h3>
            <div class="Tareas_Dia overflow-y-auto">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item note-item"
                  *ngFor="let task of filter_tareas_del_dia"
                  (click)="onTaskClick(task)"
                  [ngClass]="{ selected: task === selectedTask }"
                >
                  <div class="form-check">
                    <input
                      matTooltip="AQUI PUEDES COMPLETAR LA TAREA SELECCIONADA"
                      [matTooltipPosition]="'below'"
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      id="task-checkbox-{{ task.idTask }}"
                      [(ngModel)]="task.status"
                    />
                  </div>
                  <div class="row tarea_objeto">
                    <div class="col-12 tarea_inicio">
                      <p>{{ task.title }}</p>
                    </div>
                    <div class="col-12 tarea_inicio">
                      <div
                        *ngIf="task.pomodoroEstimacion != null"
                        class="pomodoro-counter"
                      >
                        <div
                          class="pomodoro-image"
                          *ngFor="let _ of range(task.pomodoroEstimacion)"
                        >
                          <img
                            src="../../../../assets/pomodoro/Pomodoro.png"
                            class="imagen_Pomodoro"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-end">
                      <p>
                        {{ task.deadline | date : "mediumDate" }}
                        &nbsp;&nbsp;&nbsp;
                        {{ task.deadline | date : "shortTime" }}
                      </p>
                    </div>
                  </div>
                  <div
                    *ngIf="selectedTask"
                    class="selected-note-indicator"
                  ></div>
                </li>
              </ul>
              <div
                *ngIf="this.filter_tareas_del_dia.length == 0"
                class="tareas_vacio"
              >
                <p>Da click en cualquier dia para ver sus tareas</p>
              </div>
            </div>
          </div>
          <!-- OTRAS TAREAS  -->
          <div class="col-12 otras-tareas">
            <h3 class="tarea_calendario">Tareas sin fecha limite</h3>
            <div class="otras_Tareas overflow-y-auto">
              <p
                *ngIf="filter_otras_tareas.length == 0"
                class="tareas_vacio text-center"
              >
                No hay ninguna tarea, agrega una con el boton:
                <img
                  src="../../../../assets/notes/Agregar.png"
                  class="imagen_boton"
                />
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item note-item"
                  *ngFor="let task of this.filter_otras_tareas"
                  (click)="onTaskClick(task)"
                  [ngClass]="{ selected: task === selectedTask }"
                >
                  <div class="form-check">
                    <input
                      matTooltip="AQUI PUEDES COMPLETAR LA TAREA SELECCIONADA"
                      [matTooltipPosition]="'below'"
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      id="task-checkbox-{{ task.idTask }}"
                      [(ngModel)]="task.status"
                    />
                  </div>
                  <div class="row tarea_objeto">
                    <div class="col-12 tarea_inicio">
                      <p>{{ task.title }}</p>
                    </div>
                    <div class="col-12 tarea_inicio">
                      <div
                        *ngIf="task.pomodoroEstimacion != null"
                        class="pomodoro-counter"
                      >
                        <div
                          class="pomodoro-image"
                          *ngFor="let _ of range(task.pomodoroEstimacion)"
                        >
                          <img
                            src="../../../../assets/pomodoro/Pomodoro.png"
                            class="imagen_Pomodoro"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-end">
                      <p>
                        {{ task.deadline | date : "mediumDate" }}
                        &nbsp;&nbsp;&nbsp;
                        {{ task.deadline | date : "shortTime" }}
                      </p>
                    </div>
                  </div>
                  <div
                    *ngIf="selectedTask"
                    class="selected-note-indicator"
                  ></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- CALENDARIO -->
      <div class="col-8 calendario overflow-y-auto">
        <div class="row">
          <div class="col-md-4 text-end">
            <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 text-end">
            <div class="btn-group">
              <!-- BOTON DE PREVIO -->
              <div
                matTooltip="BOTON PARA CAMBIAR AL MES ANTERIOR"
                [matTooltipPosition]="'above'"
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Mes Anterior
              </div>
              <!-- BOTON HOY -->
              <div
                matTooltip="BOTON PARA CAMBIAR AL MES ACTUAL"
                [matTooltipPosition]="'above'"
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
              >
                Mes Actual
              </div>
              <!-- BOTON SIGUIENTE -->
              <div
                matTooltip="BOTON PARA CAMBIAR AL MES SIGUIENTE"
                [matTooltipPosition]="'above'"
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Mes Siguiente
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>

          <!-- <div class="col-md-4">
            <div class="btn-group">
              //BOTON MES 
               <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
              >
                Mes
              </div> 
              // BOTON SEMANA 
            <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
              >
                Semana
              </div> 
              // BOTON DIA 
              <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
              >
                Día
              </div>
            </div>
          </div> -->
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-month-view>
          <!-- <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-day-view> -->
        </div>
        <div class="row text-center"></div>

        <ng-template #modalContent let-close="close">
          <div class="modal-header">
            <h5 class="modal-title">Event action occurred</h5>
            <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              Action:
              <pre>{{ modalData?.action }}</pre>
            </div>
            <div>
              Event:
              <pre>{{ modalData?.event | json }}</pre>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="close()"
            >
              OK
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- BOTONES -->
  <div class="col-1 botones-container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 d-flex justify-content-center">
        <a
          matTooltip="BOTON PARA OBTENER AYUDA SOBRE LA PANTALLA CALENDARIO DE TAREAS"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          routerLink="help-notes"
          data-bs-toggle="modal"
          data-bs-target="#AyudaModal"
          ><img
            src="../../../../assets/notes/Ayuda.png"
            alt="Logo"
            class="imagen_boton"
          />
          Ayuda</a
        >
      </div>
      <div class="col-12 d-flex justify-content-center tareas_finalizadas">
        <a
          matTooltip="BOTON PARA IR A LISTA DE TAREAS COMPLETADAS"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="onFinalizadasClick()"
          ><img
            src="../../../../assets/tasks/Tareas_Finalizadas.png"
            alt="Logo"
            class="imagen_boton"
          />
          Tareas Completadas</a
        >
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a
          matTooltip="BOTON PARA AGREGAR UNA NUEVA TAREA"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="onAddTaskClick()"
          ><img
            src="../../../../assets/notes/Agregar.png"
            alt="Logo"
            class="imagen_boton"
          />
          Agregar</a
        >
      </div>

      <div class="col-12 d-flex justify-content-center" *ngIf="showButtons">
        <a
          matTooltip="BOTON PARA VER POR COMPLETO LA TAREA SELECCIONADA"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="onSeeTaskClick()"
          ><img
            src="../../../../assets/notes/Ver.png"
            alt="Logo"
            class="imagen_boton"
          />Ver</a
        >
      </div>
      <div class="col-12 d-flex justify-content-center" *ngIf="showButtons">
        <a
          matTooltip="BOTON PARA EDITAR LA TAREA SELECCIONADA"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="onEditTaskClick()"
          ><img
            src="../../../../assets/notes/Editar.png"
            alt="Logo"
            class="imagen_boton"
          />
          Editar</a
        >
      </div>
      <div class="col-12 d-flex justify-content-center" *ngIf="showButtons">
        <a
          matTooltip="BOTON PARA ELIMINAR LA TAREA SELECCIONADA"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="onDeleteTaskClick()"
          ><img
            src="../../../../assets/notes/Eliminar.png"
            alt="Logo"
            class="imagen_boton"
          />Eliminar</a
        >
      </div>
      <div class="col-12 d-flex justify-content-center" *ngIf="showButtons">
        <a
          matTooltip="BOTON PARA IR AL HISTORIAL DE LA TAREA SELECCIONADA"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="Ir_A_Historial()"
        >
          <img
            src="../../../../assets/tasks/Historial.png"
            alt="Logo"
            class="imagen_boton"
          />
          Historial
        </a>
      </div>
      <div class="col-12 d-flex justify-content-center" *ngIf="showButtons">
        <a
          matTooltip="BOTON PARA IR A LA SESION POMODORO DE LA TAREA SELECCIONADA"
          [matTooltipPosition]="'before'"
          class="boton nav-link"
          (click)="onPomodoroClick()"
          ><img
            src="../../../../assets/tasks/Pomodoro.png"
            alt="Logo"
            class="imagen_boton"
          />Pomodoro</a
        >
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    #confirmationModal
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Completar Tarea
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="CancelarModal()"
          ></button>
        </div>
        <div class="text-center">
          <img
            src="../../../../assets/BERT/Bert_Pomodoro.gif"
            style="width: 40vh"
          />
        </div>
        <div class="modal-body">¿Deseas completar la Tarea?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="CancelarModal()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="Finalizar()"
          >
            Completar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal  Ayuda-->
<div
  class="modal fade"
  id="AyudaModal"
  tabindex="-1"
  aria-labelledby="AyudaModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  #confirmationModal
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-AYUDA">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="AyudaModalLabel">Ayuda</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <carousel [interval]="0" [isAnimated]="true">
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/1.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Vista Calendario Vacia</h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/2.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Vista Calendario Con Algunas Tareas</h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/3.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Pueses seleccionar un día del mes para ver sus tareas pendientes
              </h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/4.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Al seleccionar una Tarea, se habilitan los botones para
                interactuar con ella
              </h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/5.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Puedes Completar la tarea seleccionada usando el CheckBox</h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/6.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Esto Completara la Tarea, y se guardara en Tareas Completadas
              </h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/7.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Cada circulo del calendario representa una Tarea que puede ser
                seleccionada
              </h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/8.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Al seleccionar una Tarea y mantener presionado, puedes moverla
              </h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/9.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Cuando sueltas el click, se actualiza la fecha limite para la
                Tarea
              </h5>
            </div>
          </slide>
          <slide>
            <img
              src="../../../assets/AyudaImagenes/CalendarTareas/10.png"
              alt="Second slide"
              style="display: block; width: 100%"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>
                Puedes ir a la vista de Eisenhower con el boton Ir a Eisenhower
              </h5>
            </div>
          </slide>

          <!-- <slide
            *ngFor="let imagen of imagenesAyuda; let index = index"
            class="slide"
          >
            <img
              [src]="imagen.image"
              alt="image slide"
              class="imagen-carrusel"
            />
          </slide> -->
        </carousel>
      </div>
      <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="CancelarModal()"
        >
          Regresar
        </button>
      </div> -->
    </div>
  </div>
</div>
